*.pyc

.DS_Store
.idea
.pypirc

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
_build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Translations
*.mo

# virtualenv
venv

# Build folder
build

# JS deps
ted2zim/templates/assets/chosen/
ted2zim/templates/assets/jquery.min.js
ted2zim/templates/assets/videojs/
