python-dateutil==2.8.1
zimscraperlib>=1.6.2,<1.7
requests>=2.23,<3.0
beautifulsoup4>=4.9.3,<4.10
Jinja2==2.11.3
# jinja2 dependency (https://github.com/pallets/markupsafe/issues/284)
markupsafe==2.0.1
kiwixstorage>=0.2,<1.0
pif==0.8.2
python-slugify>=4.0.1,<4.1
