<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="utf-8" http-equiv="encoding">
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{page_title}}</title>
    <link id="favicon" rel="shortcut icon" href="favicon.png" type="image/png">
    <link href="assets/home.css" rel="stylesheet" type="text/css">
    <link href="assets/chosen/chosen.min.css" rel="stylesheet" type="text/css">
    <script src="assets/polyfills.js"></script>
    <script src="assets/webp-hero.bundle.js"></script>
  </head>
  <body>
    <div class="container">
      <img src="assets/img/TED.png" id="title-img"/>
    
      <button id="language-toggle" class="language-icon-btn" title="Select Language">
        <svg xmlns="http://www.w3.org/2000/svg"  width="24" height="24" viewBox="0 0 24 24"><!-- Icon from Tabler Icons by Paweł Kuna - https://github.com/tabler/tabler-icons/blob/master/LICENSE --><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0-18 0m.6-3h16.8M3.6 15h16.8"/><path d="M11.5 3a17 17 0 0 0 0 18m1-18a17 17 0 0 1 0 18"/></g></svg>
      </button>

      <div id="language-modal" class="modal">
        <div class="modal-content">
          <div class="modal-header">
            <h4>Select Language</h4>
            <button class="close-modal">&times;</button>
          </div>
          <div class="modal-body">
            <select data-placeholder="Language" class="chosen-select" tabindex="2">
              <option value=""></option>
              <option value="lang-all">{{ language_filter_text }}</option>
              {% for language in languages %}
                <option value="{{ language.languageCode }}">{{ language.languageName }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>

      <hr/>
      <div id="grid-container" style="display:block; min-height: 60vh;">
        
      <ul id="video-items" class="rig grid"></ul>
    </div>
    <hr/>
    <button class="backtotop" title="{{ back_to_top }}">
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><!-- Icon from IconaMoon by Dariush Habibpour - https://creativecommons.org/licenses/by/4.0/ --><path fill="currentColor" fill-rule="evenodd" d="M17 15a1 1 0 0 0 .707-1.707l-5-5a1 1 0 0 0-1.414 0l-5 5A1 1 0 0 0 7 15z" clip-rule="evenodd"/></svg>
    </button>

    <div id="pagination" style="visibility: hidden; margin-bottom: 1em;">
      <div id="left-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><!-- Icon from IconaMoon by Dariush Habibpour - https://creativecommons.org/licenses/by/4.0/ --><path fill="currentColor" fill-rule="evenodd" d="M15 7a1 1 0 0 0-1.707-.707l-5 5a1 1 0 0 0 0 1.414l5 5A1 1 0 0 0 15 17z" clip-rule="evenodd"/></svg></div>
      <span id="pagination-text" data-text="{{ pagination_text }}">{{ pagination_text }}</span>
      <div id="right-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><!-- Icon from IconaMoon by Dariush Habibpour - https://creativecommons.org/licenses/by/4.0/ --><path fill="currentColor" fill-rule="evenodd" d="M9 17a1 1 0 0 0 1.707.707l5-5a1 1 0 0 0 0-1.414l-5-5A1 1 0 0 0 9 7z" clip-rule="evenodd"/></svg></div>
    </div>

  </div>
  <script src="assets/jquery.min.js" type="text/javascript"></script>
  <script src="assets/chosen/chosen.jquery.js" type="text/javascript"></script>
  <script src="assets/data.js"></script>
  <script src="assets/db.js"></script>
  <script src="assets/app.js"></script>
  <script src="assets/webp-trigger.js"></script>
</body>
</html>
