@font-face {
    font-family: "RobotoLight";
    src: url("font/Roboto-Light.ttf");
}

@font-face {
    font-family: "RobotoRegular";
    src: url("font/Roboto-Regular.ttf");
}

@font-face {
    font-family: "RobotoBold";
    src: url("font/Roboto-Bold.ttf");
}

@font-face {
    font-family: "RobotoBlack";
    src: url("font/Roboto-Black.ttf");
}

@font-face {
    font-family: "RobotoLightItalic";
    src: url("font/Roboto-LightItalic.ttf");
}


body {
    background: #fafafa;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
    margin-top: 30px;
}

hr {
    margin-top: 25px;
    margin-left: 0px;
    text-align: left;
    width: 480px;
}

#content {
    margin: 0 auto;
    width: 480px;
}

#description {
    font-family: 'RobotoLight';
    color: #333;
    width: 480px;
    font-size: 18px;
}

#speaker {
    font-family: "RobotoLight";
    font-size: 20px;
    margin: 0px;
}

#title {
    font-family: "RobotoBold";
    margin-top: 10px;
    font-size: 30px;
}

#views {
    padding-top: 15px;
    font-family: "RobotoBlack";
    font-size: 30px;
}

#speaker_img {
    width: 125px;
    height: auto;
    display: inline-block;
}

#speaker_info {
    display: inline-block;
    margin-left: 10px;
    padding-bottom: 20px;
}

#speaker_info_box {
    font-family: "RobotoBold";    
}

#speaker_box_img {
    margin-top: 20px
}

#speaker_info_profession {
    font-family: "RobotoLightItalic";       
}

#speaker_desc {
    width: 480px;
    margin: 0px;
    font-family: "RobotoLight";
}

#date {
    text-align: right;
    width: 480px;
}
